@model IEnumerable<BlogNet.Models.Blog>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "BlogNet your personal website";
}

<h2>BlogNet your personal website</h2>

@* Check if user is signed in, if true, show button create new post *@
@{
if (SignInManager.IsSignedIn(User))
    {            
    <p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
    }
}


@if(Model.Count()==0) {
    <h1 style="text-align:center;">Empty</h1>
}
 @foreach (var item in Model) {

<div class="general-posts">
    <div class="user-info">
        <h2 style="text-align:center;">@Html.DisplayFor(modelItem => item.Title) - @Html.DisplayFor(modelItem => item.Time) year/s</h2>
        <img style="display:block; margin-left:auto; margin-right:auto; width:30%;height:30%" src="@Html.DisplayFor(modelItem => item.UrlPic)" alt="" class="image-spacing">
        <p style="text-align: center;margin-left:20%;margin-right:20%;" class="no-space"><strong>@item.Description.Substring(0,40)...</strong></p>
     </div>
     <div class="read-more" style="text-align: center;">
        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">read more</a>
     </div>
</div>
if(SignInManager.IsSignedIn(User)) 
        {
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        }
<a asp-action="Details" asp-route-id="@item.ID">Details</a>        
<hr />
}
                            
